@{
    ViewData["Title"] = "Home Page";
}

<h2>Voting Service</h2>

<ul>
    <li><a asp-controller="SignIn" asp-action="SignIn">Sign in</a></li>
    <li><a asp-controller="Voting" asp-action="Index">Voting List</a></li>
</ul>