@model VotingOptionViewModel

<form method="post">
    <input type="hidden" asp-for="@Model.VotingId" />
    <div class="form-group">
        <label class="col-md-2"><b>Option</b></label>
        <div class="col-md-2">
            <span asp-validation-for="@Model.OptionData.Option" class="text-danger"></span>
            <input asp-for="@Model.OptionData.Option" type="text" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            <button class="btn btn-primary">Add Option</button>
        </div>
    </div>
</form>