@model VotingOptionViewModel
@{
    ViewData["Title"] = "Add Option";
}

<form method="post">
    <input asp-for="@Model.VotingId" type="hidden" />
    <div class="form-group">
        <label asp-for="@Model.OptionData.Option"><b>Option</b></label>
        <input asp-for="@Model.OptionData.Option" class="form-control" />
        <span asp-validation-for="@Model.OptionData.Option" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add Option</button>
    </div>
</form>

@section scripts{ 
    <partial name="_ValidationScriptsPartial.cshtml" />
}