@model List<VotingViewModel>
@{
    ViewData["Title"] = "Voting List";
}

<h2>Voting List</h2>

<ol>
    @foreach (var voting in Model)
    {
        <li><a asp-action="Details" asp-route-id="@voting.Id">@voting.VotingName</a></li>
    }
</ol>

<a class="btn btn-primary" method="get" asp-action="CreateVoting">Create Voting</a>