@model VotingViewModel
@{
    ViewData["Title"] = "Voting Results";
}

@{
    int totalNumberOfVotes = 0;
    @foreach (var optionData in Model.Options)
    {
        totalNumberOfVotes += optionData.VoteCount;
    }
}
<section>
    @foreach (var optionData in Model.Options)
    {
        var percent = 100 * optionData.VoteCount / totalNumberOfVotes;
        <div>
            @optionData.Option
            (Голосов: @optionData.VoteCount)
            @percent%
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: @percent%"></div>
        </div>
    }
</section>